.navbar-brand{font-weight:200;padding:0 15px !important;letter-spacing:.0425em}
.navbar{border-radius:0 !important;margin-bottom:0 !important}
.img-circle{margin-top:-6px}
.navbar-default{padding-top:19px;height:65px;background:#93f;background:-moz-linear-gradient(top, #93f 0, #93f 50%, #9328ff 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #93f), color-stop(50%, #93f), color-stop(100%, #9328ff));background:-webkit-linear-gradient(top, #93f 0, #93f 50%, #9328ff 100%);background:-o-linear-gradient(top, #93f 0, #93f 50%, #9328ff 100%);background:-ms-linear-gradient(top, #93f 0, #93f 50%, #9328ff 100%);background:linear-gradient(to bottom, #93f 0, #93f 50%, #9328ff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9933ff', endColorstr='#9328ff', GradientType=0);border:none !important}.navbar-default a{color:#fff !important}
.navbar-default span{color:#fff;font-weight:400;position:relative;top:-3px !important;padding-left:5px;text-transform:none}
.navbar-default .navbar-nav>li>a{letter-spacing:.0425em;text-transform:uppercase;padding:0 20px !important;font-size:13px;font-weight:300 !important;color:#fff !important}.navbar-default .navbar-nav>li>a:hover{color:#fff !important}
#slider{padding:125px !important;background:url(../images/slider1.jpg);background-size:100%;height:493px;color:#fff}#slider h1{font-weight:200;font-size:40px;letter-spacing:.0325em}
#slider span{display:inline-block}
#slider .discovery h3{font-size:23px;line-height:35px;font-weight:100;letter-spacing:.0625em}
#slider #dynamic-text-wrapper{display:inline-block;position:relative;height:30px}
#slider #old-text,#slider #new-text{position:absolute;display:block}
#slider #new-text{display:none}
#slider #dynamic-text-wrapper,#slider #old-text,#slider #new-text{top:-3px}
#slider .np-l{padding-left:0}
#slider .np-r{padding-right:0}
#slider .search{padding-top:50px}
#slider input{padding:21px 10px}
#slider b{font-weight:200}
#slider .form-group{padding-left:0}
#slider .form-control{background-color:#fff !important}
#slider .btn-search{font-size:17px;font-weight:400;padding:11px 30px;background:#93f;background:-moz-linear-gradient(top, #93f 0, #93f 50%, #9328ff 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #93f), color-stop(50%, #93f), color-stop(100%, #9328ff));background:-webkit-linear-gradient(top, #93f 0, #93f 50%, #9328ff 100%);background:-o-linear-gradient(top, #93f 0, #93f 50%, #9328ff 100%);background:-ms-linear-gradient(top, #93f 0, #93f 50%, #9328ff 100%);background:linear-gradient(to bottom, #93f 0, #93f 50%, #9328ff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9933ff', endColorstr='#9328ff', GradientType=0);border:none;color:#fff}#slider .btn-search:hover{background:#90f}
#slider .count{letter-spacing:.0625em;padding-top:60px}#slider .count h5{color:#ccc;font-weight:300;font-size:18px}
#slider .count b{color:#fff}
#sort{font-weight:400;margin-top:50px;margin-bottom:50px}#sort a{color:#b3b3b3}
#sort .active{background:#dededd;border-radius:4px;text-transform:uppercase;font-weight:bold}#sort .active a{color:#fff}
#sort .nav-pills>li+li{margin-left:12px}
#sort .nav-pills>li.active>a,#sort .nav-pills>li.active>a:hover,#sort .nav-pills>li.active>a:focus{background:#dededd}
.col-md-9,.col-md-5{padding-left:0 !important;padding-top:0 !important}
.sidebar{float:left;padding-left:0 !important}
.thumbnails{padding-top:0 !important;padding-top:40px}.thumbnails article{height:410px !important}
.thumbnails .item{height:198px;padding-bottom:30px}.thumbnails .item h1 a{font-size:20px;color:#36393b}.thumbnails .item h1 a:hover{color:#36393b}
.thumbnails .item h3 a{font-size:16px;color:#b9b9b9}.thumbnails .item h3 a:hover{color:#b9b9b9;text-decoration:none}
.thumbnails .details{color:#888;padding-left:0 !important;float:left}.thumbnails .details ul{text-decoration:none}
.thumbnails .details li{font-size:16px;font-weight:400;padding-top:10px;padding-right:10px;float:left;list-style-type:none}.thumbnails .details li a{color:#888}
.category,.date{padding-left:0 !important;padding-bottom:30px}.category .title,.date .title{line-height:10px;padding-bottom:20px;text-transform:uppercase;color:#36393b;font-weight:bold}
.category li,.date li{list-style-type:none;font-size:15px;padding:5px}.category li a,.date li a{color:#b9b9b9;text-decoration:none}.category li a:hover,.date li a:hover{color:#b9b9b9;border-bottom:1px #eee}
.col-lg-4{padding-left:0 !important}
#single{width:100%;float:left}#single h1{margin-top:0;font-size:15px;color:#36393b;font-weight:bold;text-transform:uppercase}
#single p{padding-top:10px;font-weight:200;font-size:15px;color:#b9b9b9}
#single #attend{padding-top:50px}#single #attend h2{padding-top:10px;font-weight:300;font-size:15px;color:#b9b9b9}
#single #attend .users{width:100%;float:left;list-style-type:none;padding:15px 0 15px 0}#single #attend .users li{float:left;padding-right:15px}
#single .title{position:relative;top:-8px;margin-top:0;font-size:20px;text-transform:none !important;font-weight:500;line-height:1.5}
#single #content p{font-size:16px;padding-top:20px;line-height:23pt}
#single #content b{color:#b9b9b9;font-weight:500}
#single .detail{list-style-type:none}#single .detail li{padding-bottom:20px}
#single .detail .user{padding:15px 0 50px 0}
#single .detail span{padding:10px;font-size:16px;color:#b9b9b9;text-transform:uppercase}
