// Default Stylesheet 

// 1. Color system
// #5B5E63
@secondary:#3366ff;
@primary:#e8e8e8;
@btn:#dededd;


/* Bootstrap changeset
   ========================================================================== */
.navbar-brand {
  font-weight: 200;
  padding: 0px 15px!important;
  letter-spacing: 0.0425em;

}
.navbar{
	border-radius: 0px!important;
	margin-bottom: 0px!important;
}
.img-circle{
  margin-top: -6px;
}

.navbar-default{
	padding-top: 19px;
	height: 65px;
	background: #9933ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #9933ff 0%, #9933ff 50%, #9328ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9933ff), color-stop(50%,#9933ff), color-stop(100%,#9328ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9933ff', endColorstr='#9328ff',GradientType=0 ); /* IE6-9 */
	border:none!important;
		a {color: #fff!important;}
    span{
      color: #fff;
      font-weight: 400;
      position: relative;
      top: -3px!important;
      padding-left: 5px;
      text-transform: none;

    }
}

.navbar-default .navbar-nav > li > a{
  letter-spacing: 0.0425em;
  text-transform: uppercase;
	padding:0px 20px!important;
	font-size: 13px;
	font-weight: 300!important;
	color: #fff!important;
  &:hover{
    color: #fff!important;
  }
}

#slider{
  padding: 125px!important;
	background: url(../images/slider1.jpg);
  background-size: 100%;
	height: 493px;
  // background-size: 100%;
  color: #fff;
  h1{
    font-weight: 200;
    font-size: 40px;
    letter-spacing: 0.0325em;
  }
  // Text effect 
  @height:30px;
  @width:400px;
  span {
      display:inline-block;
  }
  .discovery{
    h3{
      font-size: 23px;
      line-height: 35px;
      font-weight: 100;
      letter-spacing: 0.0625em;
    }
  }
  #dynamic-text-wrapper {
      display:inline-block;
      position:relative;
      height:@height;
  }
  #old-text, #new-text {
      position:absolute;
      display:block;
  }
  #new-text { display:none; }
  #dynamic-text-wrapper, #old-text, #new-text {
      top:-3px;
      // border-bottom: 1px solid #eee!important;

  }
  .np-l{ padding-left: 0px }
  .np-r{ padding-right: 0px }
  .search{
    padding-top: 50px;
  }
  input{padding: 21px 10px;}
  b{font-weight: 200;}
  .form-group{padding-left: 0px;}
  .form-control{
    background-color: #fff!important;
  }
  .btn-search{
    // letter-spacing: 0.0625em;
    font-size: 17px;
    font-weight: 400;
    padding: 11px 30px;
    background: #9933ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #9933ff 0%, #9933ff 50%, #9328ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9933ff), color-stop(50%,#9933ff), color-stop(100%,#9328ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9933ff', endColorstr='#9328ff',GradientType=0 ); /* IE6-9 */

    border: none;
    color: #fff;
    &:hover{
      background: #9900ff;
    }
  }
  .count{
    // text-transform: uppercase;
    letter-spacing: 0.0625em;
    padding-top: 60px;
    h5{
      color: #cccccc;
      font-weight: 300;
      font-size: 18px;
    }
    b{color: #fff;}
  }
}

#sort{
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 50px;
    a{
      color: #b3b3b3;
    }
  .active{
    background: @btn;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    a{
      color: #fff;
    }
  }
  .nav-pills > li + li{
    margin-left: 12px;
  }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background: @btn;
  }
}

/**
 * Thumbnail View.
 **/
 
.col-md-9, .col-md-5{padding-left: 0px!important; padding-top: 0px!important;}
.sidebar{
  float: left; 
  padding-left: 0px!important;
}

.thumbnails{
  padding-top: 0px!important;
  article{
    height: 410px!important;
  }
	padding-top: 40px;
	.item{
    height: 198px;
		padding-bottom: 30px;
    // margin-right: 45px;
		h1{
			a{
				font-size: 20px;
				color: #36393b;
				&:hover{
					color: #36393b;
				}
			}
		}
		h3{
			a{
				font-size: 16px;
				color: #b9b9b9;
				&:hover{
					color: #b9b9b9;
					text-decoration: none;
				}
			}
		}
	}
  .details{
    color: #888888;
    padding-left: 0px!important;
    float: left;
    ul{
      text-decoration: none;
    }
    li{
      font-size: 16px;
      font-weight: 400;
      padding-top: 10px;
      padding-right: 10px;
      float: left;
      list-style-type: none;
      a{
        color: #888888;
      }
    }
  }
}
.category, .date{
  padding-left: 0px!important;
  padding-bottom: 30px;
  .title{
    line-height: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #36393b;
    font-weight: bold;
  }
  li{
    list-style-type: none;
    font-size: 15px;
    padding: 5px;
    a{
      color: #b9b9b9;
      text-decoration: none;
      &:hover{
        color: #b9b9b9;
        border-bottom: 1px #eee;
      }
    }
  }
}

/**
 * Sigle page.
 **/

 //Remove col-lg-6 padding
 .col-lg-4{padding-left: 0px!important;}
 
 #single{
  width: 100%;
  float: left;
  h1{
    margin-top: 0px;
    font-size: 15px;
    color: #36393b;
    font-weight: bold;
    text-transform: uppercase;
  }
  p{
    padding-top: 10px;
    font-weight: 200;
    font-size: 15px;
    color: #b9b9b9;

  }
  #attend{
    padding-top: 50px;
    h2{
      padding-top: 10px;
      font-weight: 300;
      font-size: 15px;
      color: #b9b9b9;
    }
    .users{
      width: 100%;
      float: left;
      list-style-type: none;
      padding: 15px 0 15px 0;
      li{
        float: left;
        padding-right: 15px;
      }
    }
  }
  .title{
    position: relative;
    top: -8px;
    margin-top: 0px;
    font-size: 20px;
    text-transform: none!important;
    font-weight: 500;
    line-height: 1.5;
  }
  #content{
    p{
      font-size: 16px;
      padding-top: 20px;
      line-height: 23pt;
    } 
    b{
      color: #b9b9b9;
      font-weight: 500;
    } 
  }
  .detail{
    list-style-type: none;
    li{
      padding-bottom: 20px;
    }
    .user{padding: 15px 0 50px 0}
    span{
      padding: 10px;
      font-size: 16px;
      color: #b9b9b9;
      text-transform: uppercase;
    }
  }
 }

