// Default Stylesheet 

// 1. Color system
// #5B5E63
@secondary:#3366ff;
@primary:#e8e8e8;
@btn:#dededd;


/* Bootstrap changeset
   ========================================================================== */

.navbar-brand {
  font-weight: 200;
  padding: 0px 15px!important;
  letter-spacing: 0.0425em;

}
.navbar{
	border-radius: 0px!important;
	margin-bottom: 0px!important;
  overflow: hidden;
  .author{
    >a, >span{
      display:inline-block;
      margin-top:5px;
      float:left;
    }
    .logged_user{
      margin-top:8px;
    }
    .avatar{
      position:relative;
      top:-5px;
      float:right;
    }
  }
}
.img-circle{
  margin-top: -6px;
}

.navbar-default{
	padding-top: 19px;
	height: 65px;
	background: #9933ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #9933ff 0%, #9933ff 50%, #9328ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9933ff), color-stop(50%,#9933ff), color-stop(100%,#9328ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9933ff', endColorstr='#9328ff',GradientType=0 ); /* IE6-9 */
	border:none!important;
		a {color: #fff!important;}
    span{
      color: #fff;
      font-weight: 400;
      position: relative;
      top: -3px!important;
      padding-left: 5px;
      text-transform: none;

    }
}

.navbar-default .navbar-nav > li > a{
  letter-spacing: 0.0425em;
  text-transform: uppercase;
	padding:0px 20px!important;
	font-size: 13px;
	font-weight: 300!important;
	color: #fff!important;
  &:hover{
    color: #fff!important;
  }
}

#slider{
  select, input{
    padding-left:15px !important;
    font-size:16px !important;
    color:#888 !important;
  }
  margin-bottom:60px;
  padding: 125px!important;
	background: url(../images/slider1.jpg);
  background-size: 100%;
	height: 493px;
  // background-size: 100%;
  color: #fff;
  h1{
    font-weight: 200;
    font-size: 40px;
    letter-spacing: 0.0325em;
  }
  // Text effect 
  @height:30px;
  @width:400px;
  span {
      display:inline-block;
  }
  .discovery{
    h3{
      font-size: 23px;
      line-height: 35px;
      font-weight: 100;
      letter-spacing: 0.0625em;
    }
  }
  #dynamic-text-wrapper {
      display:inline-block;
      position:relative;
      height:@height;
  }
  #old-text, #new-text {
      position:absolute;
      display:block;
  }
  #new-text { display:none; }
  #dynamic-text-wrapper, #old-text, #new-text {
      top:-3px;
      // border-bottom: 1px solid #eee!important;

  }
  .np-l{ padding-left: 0px!important; }
  .np-r{ padding-right: 0px!important; }
  .search{
    padding-top: 50px;
  }
  input{padding: 21px 10px;}
  b{font-weight: 200;}
  .form-group{padding-left: 0px;}
  .form-control{
    background-color: #fff!important;
  }
  .btn-search{
    // letter-spacing: 0.0625em;
    font-size: 17px;
    font-weight: 400;
    padding: 11px 30px;
    background: #9933ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #9933ff 0%, #9933ff 50%, #9328ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9933ff), color-stop(50%,#9933ff), color-stop(100%,#9328ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9933ff 0%,#9933ff 50%,#9328ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9933ff', endColorstr='#9328ff',GradientType=0 ); /* IE6-9 */

    border: none;
    color: #fff;
    &:hover{
      background: #9900ff;
    }
  } 
  .count{
    // text-transform: uppercase;
/*    letter-spacing: 0.0625em;
*/    padding-top: 60px;
    h5{
      color: #cccccc;
      font-weight: 300;
      font-size: 18px;
    }
    b{color: #fff;}
  }
}

#sort{
  font-weight: 400;
  margin-bottom: 50px;
    a{
      color: #b3b3b3;
    }
  .active{
    background: @btn;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    a{
      color: #fff;
    }
  }
  .nav-pills > li + li{
    margin-left: 12px;
  }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background: @btn;
  }
}

/**
 * Thumbnail View.
 **/
.btn-primary{
	background-color:#93f!important;
	border:none!important;
	color:#fff!important;
}
.col-md-9, .col-md-5{padding-left: 0px!important; padding-top: 0px!important;}
.sidebar{
  float: left; 
  padding-left: 0px!important;
}
.btn-filter{
  font-size: 17px;
  font-weight: 400;
  padding: 11px 30px!important;
  background: #9933ff; /* Old browsers */
	color:#fff;
  border: none;
  &:hover{
		color:#fff!important;
    background: #9900ff;
  }
}
.thumbnails{
  &.related_events{
    float:left;
    width:100%;
    margin-top:20px !important;
    h3{
      margin-bottom:20px;
    }
  }

  .thumbs_title{
    margin-top:0px;
    margin-bottom:40px;
    margin-left:15px;
  }
  article{
    height: 440px!important;
  }
	.item{
    .image_container{
      position:relative;  
      width:100%;
      .ended_tag{
        position:absolute;
        top:10px;
        right:10px;
        color:white;
        padding:4px 12px;
        background:#93f;
        border-radius: 3px;
      }
    }
    img{
      width: 100%;
      height:auto;
    }
    a{
      color: #36393b;
        &:hover{
        color: #36393b;
        }
    }
    // margin-right: 45px;
		h1{
      line-height: 1.4em;
      font-size: 20px;
        color: #36393b;
			a{
				font-size: 20px;
				color: #36393b;
				&:hover{
					color: #36393b;
				}
			}
		}
		h3{
        line-height: 1.5em;
        font-weight: 400;
        font-size: 16px;
        color: #b9b9b9;
			a{
				font-size: 16px;
				color: #b9b9b9;
				&:hover{
					color: #b9b9b9;
					text-decoration: none;
				}
			}
		}
	}
  .details{
    color: #888888;
    padding-left: 0px!important;
    float: left;
    ul{
      text-decoration: none;
    }
    li{
      font-size: 16px;
      font-weight: 400;
      padding-top: 10px;
      padding-right: 10px;
      float: left;
      list-style-type: none;
      a{
        color: #888888;
      }
    }
  }
}
.category, .date, .filters{
  padding-left: 0px!important;
  padding-bottom: 30px;
  .title{
    line-height: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #36393b;
    font-weight: bold;
  }
  li{
    list-style-type: none;
    font-size: 15px;
    padding: 5px;
    &.active a{
      color: #808080;
    }
    a{
      font-weight: 400;
      color: #c0c0c0;
      text-decoration: none;
      &:hover{
        color: #b9b9b9;
        border-bottom: 1px #eee;
      }
    }
    .filter_label{
      color:#b9b9b9;
    }
    .filter_value{
      color:#808080;  
    }
    .filter_remove{ 
      margin-left:10px;
      cursor: pointer;
      display:inline-block;
      span{
        display:inline-block;
        background:white;
      }
      &:hover{
        span{
          color:#666;
        }
      }
    }
  }
}

/**
 * Sigle page.
 **/
#logginRequired{
  .alert{
    margin:20px;
    margin-bottom:0px;
  }
}

 //Remove col-lg-6 padding
 .col-lg-4{padding-left: 0px!important;}
 
 #single{
  width: 100%;
  float: left;
  h1{
    margin-top: 0px;
    font-size: 15px;
    color: #36393b;
    font-weight: bold;
    text-transform: uppercase;
  }
  p{
    padding-top: 10px;
    font-weight: 200;
    font-size: 15px;
    color: #b9b9b9;

  }
  #attend{
    padding-top: 50px;
    h2{
      padding-top: 10px;
      font-weight: 300;
      font-size: 15px;
      color: #b9b9b9;
    }
    .users{
      .current_user{
        display:none;
        &.attended{
          display:block;
        }
      }
      width: 100%;
      float: left;
      list-style-type: none;
      padding: 15px 0 15px 0;
      li{
        float: left;
        padding-right: 15px;
      }
    }
  }
  .title{
    position: relative;
    top: -8px;
    margin-top: 0px;
    font-size: 20px;
    text-transform: none!important;
    font-weight: 500;
    line-height: 1.5;
  }
  #content{
    p{
      font-size: 16px;
      padding-top: 20px;
      line-height: 23pt;
    } 
    b{
      color: #b9b9b9;
      font-weight: 500;
    } 
  }
  .detail{
    list-style-type: none;
    li{
      padding-bottom: 20px;
    }
    .user{padding: 15px 0 50px 0}
    span{
      padding: 10px;
      font-size: 16px;
      color: #b9b9b9;
      text-transform: uppercase;
    }
  }
 }
  .attend_btn{
    .unattend_txt{ display:none; }

    &.attended{
      .unattend_txt{ display:block; }
      .attend_txt{ display:none; }
    }
  }

  /*  FOOTER  */
footer{
  margin-top: 40px;
  padding: 50px;
  background-color: #f8f8f8;
  height: 307px;
}
.footer-nav{
  margin-left: 0px!important;
  list-style-type: none;
  .title{
    line-height: 10px;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  li{
    padding-bottom: 7px;
    a{
      color: #c0c0c0;
      &:hover{

      }
    }
  }
}
.get-top{
  a{
    color: #c0c0c0;
    &:hover{
      text-decoration:none;
      color: #ccc;     
    }
  }
}
#copyright{
  height: 93px;
  padding: 39px;
  color: #c0c0c0;
  text-align: center;
  font-weight: 400;
}



.breadcrumb_container{
  width:100%;
  margin-top:0px;
  margin-bottom:40px;
  border-bottom:1px solid #eee;
  padding:25px 0px !important;
  .breadcrumb{
    a{
      color:#aaa;
    }
    background:white !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    ul{
      list-style:none;
      margin:0px;
      padding:0px;
      li{
        float:left;
        margin:0 10px;
        padding:0 10px;
        position:relative;
        &.breadcrumb_arrow{
          margin:0px;
          padding:0px;
          color:#777;
          position:relative;
          top:5px;
          font-size:12px;
        }
        &.first{
          margin-left:0px;
          padding-left:0px;
        }
      }
    }
  }
}